body {
    font-family: 'Poppins', sans-serif;
}

h1 {

    font-size: 70px;
    color: rgb(81, 63, 63);
}

.donation-part {
    background-image: url(https://impspired.files.wordpress.com/2021/07/donations.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.donation {

    padding-bottom: 70px;
    text-align: center;
}

.our-mission {
    width: 50%;
    padding-left: 5%;
}

.our-mission img {
    width: 80%;
    border-radius: 50px;
    padding-left: 15px;
}

.first-part {
    color: aliceblue;
    text-align: center;
    padding: 0px 40px 0px 40px;
}

p {
    padding-bottom: 2%;
}

.button {
    text-decoration: none;
    background-color: rgb(223, 91, 43);
    color: white;
    border-radius: 7px;
    padding: 15px 40px;
    font-weight: 700;
}

h2 {
    font-size: 50px;
}

.money-row {
    display: flex;
    padding-left: 150px;
}

.money-row h2 {
    padding: 2%;
    margin: 2%;
    border-radius: 7px;
    background-color: antiquewhite;

}

#five-hunded {
    border: 2.5px solid orangered;
    background-color: rgb(243, 99, 46);
}

.flaxibel-containt {
    display: flex;
    padding-top: 0px;
}

.half-width {
    padding: 20px;
    border-radius: 7px;
    margin: 20px;
}

.other-amount {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #ccc;
}

#food {
    background-color: rgba(79, 157, 166, 0.1);
    ;
}

#shelter {
    background-color: rgba(255, 89, 89, 0.1);
    ;
}

#education {
    background-color: #faeabc;
    ;
}

.email {
    width: 15%;
    padding: 15px 40px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 7px;
    border: 2px solid #ccc;
}

.updates {
    background-color: #ccc;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
}

footer {
    background-color: black;
    text-align: center;
}

footer h2 {
    color: orangered;
}

footer p {
    color: white;
}